#iconimg{
    border-radius: 100px;
    width: 30px;
}
@media only screen and (max-width:991px ){
    #Software{
        display: none;
    }
    #iconimg{
        display: none;
    }
    #content{
        background-color: rgba(240, 240, 240, 0.863);
        border-radius: 15px;
        margin-top: 0;
        padding-top: 0;
        position: relative;
        top: -8em;
    }
    #coverDiv{
        height:15em;
        background-size: cover;
        filter: blur(5px);
    }
}
@media only screen and (min-width:992px){
    #ds{
        display: none;
    }
    #content{
        margin-top: 0;
        padding-top: 0;
        margin-left: 15%;
        margin-right: 15%;
        background-color: rgba(240, 240, 240, 0.863);
        border-radius: 15px;
        position: relative;
        top:-12em;
    }
    #coverDiv{
        height:20em;
        background-size: cover;
        filter: blur(5px);
    }
}