#iconimg{
    border-radius: 100px;
    width: 30px;
}
$for_filter: blur(5px);
%for_content{
    background-color: rgba(240, 240, 240, 0.863);
    border-radius: 15px;
    margin-top: 0;
    padding-top: 0; 
    position: relative;
}
@media only screen and (max-width:991px ){
    nav{
        #Software{
            display: none;
        }
    }
    #iconimg{
        display: none;
    }
    #content{
        @extend %for_content;
        top: -8em;
    }
    #coverDiv{
        height:15em;
        background-size: cover;
        filter:$for_filter;
    }
}
@media only screen and (min-width:992px){
    #ds{
        display: none;
    }
    #content{
        @extend %for_content;
        margin-left: 15%;
        margin-right: 15%;
        top:-12em;
    }
    #coverDiv{
        height:20em;
        background-size: cover;
        filter: $for_filter;
    }
}